button {
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    color: var(--dark-grey);
}
button:hover {
    border-color: transparent;
}
button:focus-visible {
    outline: 3px solid var(--white);
}

[class*="button--"] {
    margin: 5px;
    width: 60px;
    height: 60px;
}

.button--operation {
    background-color: var(--orange);
}
.button--operation:active {
    background-color: var(--dark-orange);
}

.button--number {
    background-color: var(--light-grey);
}
.button--number:active {
    background-color: var(--medium-grey);
}

.button--action {
    background-color: var(--purple);
    font-size: 2rem;
}
.button--action:active {
    background-color: var(--dark-purple);
}

.button--action-secondary {
    background-color: var(--light-blue);
    font-size: 1.8rem;
}
.button--action-secondary:active {
    background-color: var(--blue);
}

.button--equals {
    background-color: var(--pink);
}
.button--equals:active {
    background-color: var(--dark-pink);
}